.col-xs-3(ng-controller='MailListingController')
  h2 Sidebar

  form(name='searchform' novalidate)
  .form-group
    input#search-name.form-control(
    type='text' placeholder='Filter messages' name='search' ng-model='nYearsAgo'
    )

  table.table.table-bordered
    tr(
      email-listing email='mail' action='setSelectedMail(selectedMail)' gravatar-size='20'
      ng-repeat='mail in (emails | orderBy:"sent_at":true | filter:searchPastNYears)'
    )
.col-xs-9(ng-controller='ContentController')
  h2 Content

  .row(ng-hide='selectedMail') No conversation selected

  div(ng-show='selectedMail')
    .row(ng-show='showingReply')
      form(name='replyform' ng-submit='sendEmailReply()' novalidate)
        .form-group
          label(for='reply-to') To
          input#reply-to.form-control(
            type='email' placeholder='To' name='to'
            ng-model='reply.to' required
          )
          .form-alert(ng-show='replyform.to.$dirty && replyform.to.$invalid')
            div(ng-show='replyform.to.$error.required') To is required.
            div(ng-show='replyform.to.$error.email') To is not valid.
        .form-group
          label(for='reply-body') Body
          textarea#reply-body.form-control(
            placeholder='Body' name='body'
            ng-model='reply.body' required rows=3
          ) {{ reply.body }}
          .form-alert(ng-show='replyform.body.$dirty && replyform.body.$invalid')
            div(ng-show='replyform.body.$error.required') Body is required.

        button.btn.btn-default(ng-click='sendReply()') Reply
        button.btn.btn-default(ng-click='toggleReplyForm()') Cancel

    .row
      .col-xs-6 {{ selectedMail.subject }}
      .col-xs-6 {{ selectedMail.sent_at | date:'MM/dd/yy' }}
    .row
      .col-xs-6 {{ selectedMail.from.join(', ') }} to {{ selectedMail.to.join(', ') }}
      .col-xs-6
        button.btn.btn-default(ng-click='toggleReplyForm()') Reply
    .row
      .col-xs-12(ng-bind-html='safeHtml(selectedMail.body)')

