h1 Settings

form(name='settingsform' ng-submit='updateSettings()' novalidate)
  .form-group
    label(for='settings-name') Name
    input#settings-name.form-control(
      type='text' placeholder='Name' name='name' ng-model='settings.name'
      ng-minlength=3 ng-maxlength=20 ng-pattern='/^[a-zA-Z]+$/' required
    )
    .form-alert(ng-show='settingsform.name.$dirty && settingsform.name.$invalid')
      div(ng-show='settingsform.name.$error.required') Your name is required.
      div(ng-show='settingsform.name.$error.minlength') Your name must be greater than 3 characters.
      div(ng-show='settingsform.name.$error.maxlength') Your name cannot be greater than 20 characters.
  .form-group
    label(for='settings-email') Email
    input#settings-email.form-control(
      type='email' placeholder='Email' name='email'
      ng-model='settings.email' required
    )
    .form-alert(ng-show='settingsform.email.$dirty && settingsform.email.$invalid')
      div(ng-show='settingsform.email.$error.required') Your email is required.
      div(ng-show='settingsform.email.$error.email') Your email is not valid.
  .form-group
    label(for='settings-age') Age
    input#settings-age.form-control(
      type='number' placeholder='Age' name='age'
      ng-model='settings.age' required min=3 max=200
    )
    .form-alert(ng-show='settingsform.age.$dirty && settingsform.age.$invalid')
      div(ng-show='settingsform.age.$error.required') Your age is required.
      div(ng-show='settingsform.age.$error.number') Your age must be a number.
      div(ng-show='settingsform.age.$error.min') You must be at least 3 to use this site.
      div(ng-show='settingsform.age.$error.max') You are 200 or older? Really?.
  button.btn.btn-default(type='submit' ng-disabled='settingsform.$dirty && settingsform.$invalid') Update